<div class="row">
	<div class="col-xs-4">
		<strong>Commenter:</strong>
  <%= review.commenter %>
	</div>
	<div class="col-xs-4">
		<strong>Rating:</strong>
  <%= review.rating %>
	</div>
	<div class="col-xs-4">
		<strong>Created:</strong>
  <%= review.created_at %>
	</div>
	<div class="col-xs-12">
		<strong>Comment:</strong>
  <%= review.body %>
	</div>
</div><hr/>