<!--This interface is used to view all reviews of that particular film-->
<hr/>
<div class="row">
	<div class="col-xs-2">
  <%= review.commenter %>
	</div>
	<div class="col-xs-2">
  <%= review.rating %>
	</div>
	<div class="col-xs-3">
  <%= review.created_at %>
	</div>
	<div class="col-xs-5">
  <%= review.body %>
	</div>
</div>
