<p> filmtitle:  <%= @rental.filmtitle %></p>
      <p> film duration:  <%= @rental.filmduration %></p>
      <p>rental status:  <%= @rental.rentalstatus %></p>
<p>rental status:  <%= @rental.rentalstatus %></p>